{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"/>
        
      </head>
      <style>
        
      </style>
    <body>
        <div class="home-page">
            <div class="section-4">
                <div class="section-4-child"></div>
                <div class="right-part">
                    <div class="title">
                        <b class="how-it-works">How it works</b>
                        <div class="volutpat-est-velit">
                            The Application works in four different stages and are keenly listed beside.
                        </div>
                    </div>
                </div>
                <div class="parent">
                    <div class="div">
                        <b class="how-it-works">3</b>
                        <div class="crack-severity-non-container">
                            <p class="crack-severity">Crack Severity</p>
                            <p class="crack-severity">&nbsp;</p>
                            <p class="non-tellus-orci">
                                Advanced technology for accurate crack severity evaluation. Identify risks and ensure structural integrity.
                            </p>
                        </div>
                    </div>
                    <div class="div1">
                        <b class="how-it-works">4</b>
                        <div class="crack-severity-non-container">
                            <p class="crack-severity">Residual Life Calculation</p>
                            <p class="crack-severity">&nbsp;</p>
                            <p class="non-tellus-orci">
                                Cutting-edge methods to predict asset service life. Optimize maintenance and extend lifespan.
                            </p>
                        </div>
                    </div>
                    <div class="div2">
                        <b class="how-it-works">2</b>
                        <div class="crack-severity-non-container">
                            <p class="crack-severity">Crack localization</p>
                            <p class="crack-severity">&nbsp;</p>
                            <p class="non-tellus-orci">
                                State-of-the-art techniques for pinpointing crack locations. Enhance maintenance efficiency.
                            </p>
                        </div>
                    </div>
                    <div class="div3">
                        <b class="how-it-works">1</b>
                        <div class="crack-severity-non-container">
                            <p class="crack-severity">Crack Detection</p>
                            <p class="crack-severity">&nbsp;</p>
                            <p class="non-tellus-orci">
                                Real-time crack detection to prevent failures. Improve system reliability.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-3">
                <div class="section-3-child"></div>
                <div class="items">
                    <div class="div4">
                        <div class="div5">
                            <img class="icon" alt="" src="../static/public/icon.svg"/>

                            <div class="accurate-lorem-ipsum-container">
                                <p class="crack-severity">Accurate Assessments</p>
                                <p class="crack-severity">&nbsp;</p>
                                <p class="lorem-ipsum-dolor">
                                    Our advanced technologies provide accurate crack severity assessments, ensuring reliable data for effective decision-making.
                                </p>
                            </div>
                        </div>
                        <div class="div5">
                            <img class="icon1" alt="" src="../static/public/icon1.svg"/>

                            <div class="accurate-lorem-ipsum-container">
                                <p class="crack-severity">Reliable Results</p>
                                <p class="crack-severity">&nbsp;</p>
                                <p class="lorem-ipsum-dolor">
                                    Rely on our proven methods and algorithms to deliver trustworthy crack analysis results, enhancing asset reliability.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="div4">
                        <div class="div5">
                            <img class="icon2" alt="" src="../static/public/icon2.svg"/>

                            <div class="accurate-lorem-ipsum-container">
                                <p class="crack-severity">Control</p>
                                <p class="crack-severity">&nbsp;</p>
                                <p class="lorem-ipsum-dolor">
                                    Implement proactive measures with our advanced crack control solutions, ensuring safety and minimizing potential risks.
                                </p>
                            </div>
                        </div>
                        <div class="div5">
                            <img class="icon" alt="" src="../static/public/icon3.svg"/>

                            <div class="accurate-lorem-ipsum-container">
                                <p class="crack-severity">Prevention</p>
                                <p class="crack-severity">&nbsp;</p>
                                <p class="lorem-ipsum-dolor">
                                    Stay ahead of structural issues with our crack prevention strategies, optimizing asset longevity and preventing costly damages.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-part1">
                    <div class="title">
                        <b class="how-it-works">Real Time Crack Localization</b>
                        <div class="volutpat-est-velit">
                            Experience real-time crack localization solutions that swiftly pinpoint crack locations for timely action and enhanced safety
                        </div>
                    </div>
                    <div class="button">
                        <button class="custom-btn btn-3-tan">
                            <span>Explore</span>
                        </button>
                        <!-- <div class="button-child"></div>
                                                <div class="explore">Explore</div> -->
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="bg"></div>
                <div class="buttom">
                    <div class="divider"></div>
                    <div class="beam-health">
                        © 2022 • Beam health • All rights reserved
                    </div>
                    <img class="sn-icon" alt="" src="../static/public/sn.svg"/>
                </div>
                <div class="menu">
                    <div class="navigation-marketplace-faq-container">
                        <p class="navigation">
                            <span class="navigation1">
                                <b>Navigation</b>
                            </span>
                        </p>
                        <p class="navigation">
                            <span class="navigation1">
                                <span class="blank-line10">&nbsp;</span>
                            </span>
                        </p>
                        <p class="marketplace">Marketplace</p>
                        <p class="marketplace">FAQ</p>
                    </div>
                    <div class="support-help-centre-container">
                        <p class="navigation">
                            <span class="navigation1">
                                <b>Support</b>
                            </span>
                        </p>
                        <p class="navigation">
                            <span class="navigation1">
                                <span class="blank-line10">&nbsp;</span>
                            </span>
                        </p>
                        <p class="marketplace">Help Centre</p>
                    </div>
                    <div class="documentation-terms-of-container">
                        <p class="navigation">
                            <span class="navigation1">
                                <b>Documentation</b>
                            </span>
                        </p>
                        <p class="navigation">
                            <span class="navigation1">
                                <span class="blank-line10">&nbsp;</span>
                            </span>
                        </p>
                        <p class="marketplace">Terms of services</p>
                        <p class="marketplace">Privacy Policy</p>
                    </div>
                    <div class="actions">
                        <div class="button1">
                            <div class="button-item"></div>
                            <div class="explore">Explore</div>
                        </div>
                        <div class="button1">
                            <div class="button-inner"></div>
                            <div class="create-token">Create Token</div>
                        </div>
                    </div>
                </div>
                <div class="top">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <div class="subscribe">
                        <div class="subscribe-to-a">Subscribe to a newsletter</div>
                        <div class="subs">
                            <div class="subs-child"></div>
                            <input
                            type="email" class="subs-child" placeholder="Email address" required/>

                            <!-- <div class="enter-email-address">Enter email address</div> -->
                            <div
                                class="action">
                                <!-- <div class="button-item"></div>
                                                                <div class="subscribe-now">Subscribe now</div> -->
                                <button class="custom-btn btn-3-tan">
                                    <span>Subscribe now</span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="frame-parent">
                        <img class="frame-icon" alt="" src="../static/public/frame.svg"/>
                        <div class="beam-health1">BEAM HEALTH</div>
                    </div>
                </div>
            </div>
            <div class="rectangle-parent">
                <div class="group-child"></div>
                <div class="div10">
                    <div class="upload-frequency-vs">
                        Upload frequency vs Amplitude file
                    </div>
                    <div class="div11">
                        <div class="child"></div>
                        <div class="csv-xlsx-max-100mb-parent">
                            <div class="csv-xlsx-container">
                                <p class="navigation">csv , xlsx</p>
                                <p class="navigation">max 100mb</p>
                            </div>
                            <div class="button3">
                                <button class="custom-btn btn-3">
                                    <span>Upload file</span>
                                </button>
                                <!-- <div class="rectangle-div"></div>
                                                                <div class="upload-file">Upload file</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button4">
                    <button class="predict custom-btn btn-3 " id = 'predict-button'>
                        <span>Predict</span>
                    </button>
                    <!-- <input type="button" class="custom-btn btn-3" value="Predict"> -->
                <!-- <div class="button-child1"></div> -->
                    <!-- <div class="predict">Predict</div> -->
                </div>
                <div class="field">
                    <input type="text" id="username" class="lable-parent" placeholder="Frequency 1" required/>
                </div>

                <div class="field1">
                    <div class="lable-parent">
                        <input type="text" id="username" class="lable-parent" placeholder="Frequency 2" required/>
                    </div>
                </div>
                <div class="field2">
                    <div class="lable-parent">
                        <input type="text" id="username" class="lable-parent" placeholder="Frequency 3" required/>

                    </div>
                </div>
                <div class="field3">
                    <div class="lable-parent">
                        <input type="text" id="username" class="lable-parent" placeholder="Stress value" required/>
                    </div>
                </div>
            </div>

            <div class="loader">
              <div class="spinner"></div>
            </div>
            
            <div class="rectangle-group blur">

                <!-- <div class="group-child"></div>
                <div class="group-inner"></div>
                <div class="action1">
                    <div class="action-item"></div>
                    <div class="depth">CRACK DETECTION</div>
                </div>
                <div class="group-child1"></div>
                <div class="action2">
                    <div class="action-item"></div>
                    <div class="depth1">CRACK LOCALIZATION</div>
                </div>
                <div class="crack-detected">Crack Detected !</div>
                <div class="subs1">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Length</div>
                    </div>
                </div>
                <div class="subs2">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Depth</div>
                    </div>
                </div>
                <div class="cm">{{length}}cm</div>
                <div class="cm1">{{depth}}cm</div>
                <div class="group-child2"></div>
                <div class="action5">
                    <div class="action-item"></div>
                    <div class="depth1">CRACK SEVERITY</div>
                </div>
                <div class="subs3">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Stress</div>
                    </div>
                </div>
                <div class="div12">{{sif}}</div>
                <div class="subs4">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Severity</div>
                    </div>
                </div>
                <div class="high-severity">{{severe}}</div>
                <div class="group-child3"></div>
                <div class="action8">
                    <div class="action-item"></div>
                    <div class="depth1">RESIDUAL LIFE ESTIMATION</div>
                </div>
                <div class="group-child4"></div>
                <div class="action9">
                    <div class="action-child7"></div>
                    <div class="expected-life">
                        <p class="length">Expected life</p>
                    </div>
                </div>
                <div class="days-7-hours-container">
                    <p class="navigation">{{life}}</p>
                </div> -->


                <div class="group-child"></div>
                <div class="group-inner"></div>
                <div class="action10">
                    <div class="action-child8"></div>
                    <div class="depth5">CRACK DETECTION</div>
                </div>
                <div class="group-child1"></div>
                <div class="action11">
                    <div class="action-child9"></div>
                    <div class="depth6">CRACK LOCALIZATION</div>
                </div>
                <div class="crack-detected">Crack Detected !</div>
                <div class="subs1">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Length</div>
                    </div>
                </div>
                <div class="subs2">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Depth</div>
                    </div>
                </div>
                <div class="cm">{{length}}cm</div>
                <div class="cm1">{{depth}}cm</div>
                <div class="group-child2"></div>
                <div class="action14">
                    <div class="action-child12"></div>
                    <div class="depth8">CRACK SEVERITY</div>
                </div>
                <div class="subs3">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Stress</div>
                    </div>
                </div>
                <div class="div12">{{sif}}</div>
                <div class="subs4">
                    <div class="subs-item"></div>
                    <div class="action3">
                        <div class="action-child1"></div>
                        <div class="length">Severity</div>
                    </div>
                </div>
                <div class="high-severity">{{severe}}</div>
                <div class="group-child3"></div>
                <div class="action17">
                    <div class="action-child15"></div>
                    <div class="depth9">RESIDUAL LIFE ESTIMATION</div>
                </div>
                <div class="group-child4"></div>
                <div class="action9">
                    <div class="action-child7"></div>
                    <div class="expected-life">
                        <p class="navigation" style="color: white;">Expected life</p>
                    </div>
                </div>
                <div class="days-7-hours-container">
                  <p class="navigation">{{life}}</p>
                </div>

            </div>



            <div class="header">
                <div class="header-child"></div>
                <div class="pattern-parent">
                    <img class="pattern-icon" alt="" src="../static/public/pattern.svg"/>

                    <div class="beam-health1">BEAM HEALTH</div>
                </div>
                <div class="header-inner">
                    <div class="prototype-application-parent">
                        <b class="how-it-works">
                            <a href="prototype_application.html" class="navigation">Prototype Application</a>
                        </b>
                        <b class="how-it-works">
                            <a href="realtime_application.html" class="navigation">Real-time Application</a>
                        </b>
                        <b class="support2">
                            <a href="support.html" class="navigation">Support</a>
                        </b>
                    </div>
                </div>

                <div class="button5">
                    <form action="{% url 'login' %}" >
                        <button type="submit" class="custom-btn btn-3 button-child2">
                            <span>Sign Out</span>
                        </button>
                    </form>

                    <!-- <form action="{% url 'login' %}" target="_blank">
                    <button type="submit" class="custom-btn btn-3-tan long">
                        <span>Sign Up</span>
                    </button>
                    </form> -->
                    <!-- <div class="button-child2"></div>
                                        <b class="sign-in">Sign in</b> -->
                    <!-- background: var(--black); -->
                </div>
                <div class="indicator"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>

    </body>

</html>
